img {
	width: 100%;
	height: auto;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	a{
		text-decoration: underline;
		color: #6b75d7;
		&:hover{
			text-decoration: none;
		}
	}
}

.responsive-img{
	position: relative;
	background-position: center;
	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: cp(1,1)
	}
	>img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--2x1:before{ padding-bottom: cp(1,2) }
	&--3x2:before{ padding-bottom: cp(2,3) }
	&--4x3:before{ padding-bottom: cp(3,4) }
	&--14x9:before{ padding-bottom: cp(9,14) }
	&--16x9:before{ padding-bottom: cp(9,16) }
}

img[data-object-fit="contain"] { object-fit: contain }

img[data-object-fit="cover"] { object-fit: cover }

img[data-object-fit="scale-down"] { object-fit: scale-down }

img[data-object-fit="none"] { object-fit: none }

.fit-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	> img {
		opacity: 0;
	}

	&--cover{ background-size: cover; }
	&--contain{ background-size: contain; }
}

.page-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #14141C;
		opacity: 0.85;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--not-found {
		img {
			width: auto;
			height: 85%;
			top: 100px;
			left: 50%;
			transform: translateX(-50%);
			@include media-breakpoint-up(md) {
				top: 162px;
			}
		}
	}
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
