html{
	font-size: 16px;
	-webkit-font-smoothing:antialiased;
}
html,
body {
	height: 100%;
}

body{
	font-family: Roboto, sans-serif;
	color: $color-text;
	font-size: 0.875rem;
	line-height: 1.2;
	background-color: #000000;

	&:after {
		display: block;
		padding: 10px;
		position: fixed;
		bottom: 0;
		right: 0;
		background: #000;
		color: #fff;
		visibility: hidden;
		content: '320';
		@media (min-width: $screen-sm){
			content: '#{$screen-sm}';
		}
		@media (min-width: $screen-md){
			content: '#{$screen-md}';
		}
		@media (min-width: $screen-lg){
			content: '#{$screen-lg}';
		}
		@media (min-width: $screen-xl){
			content: '#{$screen-xl}';
		}
	}
}
