.footer{
	background: #08080D;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 18px 0;
	font-size: 0.6875rem;
	color: rgba($color-text, 0.35);
	&__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	&__copyright,
	&__created {
		padding: 0 12px;
	}
}

.magwai-link {
	@extend %link-clicker;
	position: relative;
	&:hover{
		color: transparent;
		text-decoration: none;
		&:after{
			transform: scale(1);
		}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: auto;
		border-radius: 5px;
		margin-top: -20px;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		background: $url-magwai-logo no-repeat center/100% 100%;

		transform: scale(0);
		transition: transform 0.2s;
	}
}