.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-top: 40px;

	@include media-breakpoint-up(md) {
		padding-top: 60px;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 75px;
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 25px;
		@include media-breakpoint-up(md) {
			justify-content: space-between;
			padding: 0;
		}
		@include media-breakpoint-up(xl) {
			align-items: center;
		}
	}

	&__logo {
		display: block;
		margin-bottom: 15px;
		width: 100%;
		text-align: center;
		svg {
			width: 217px;
			height: 111px;
			@include media-breakpoint-up(md) {
				width: 244px;
				height: 125px;
			}
		}
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: 45px;
			left: 50%;
			width: auto;
			transform: translateX(-50%);
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
		padding: 10px 0;
		max-width: 240px;
		width: 100%;
		border-bottom: 2px solid #fff;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 0;
			height: 2px;
			background-color: $color-gold;
			transition: all 0.3s ease-in-out;
		}
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -1px;
			width: 1500px;
			height: 1px;
			background-color: rgba(#fff, 0.2);
			transform: translateX(-50%);
		}
		&:hover,
		&:focus {
			color: $color-gold;
			text-decoration: none;
			&::before {
				width: 100%;
			}
		}
		svg {
			margin-right: 10px;
		}
		@include media-breakpoint-up(md) {
			text-align: center;
		}
		@include media-breakpoint-up(xl) {
			max-width: none;
			width: auto;
			&::after {
				transform: none;
			}
			&:nth-of-type(2n) {
				&::after {
					left: auto;
					right: -130px;
				}
			}
			&:nth-of-type(3n) {
				&::after {
					left: -175px;
				}
			}
		}
	}
}

// .top-nav {
// 	&__list{
// 		@include media-breakpoint-up(md) {
// 			display: flex;
// 			align-items: center;
// 			margin: 0 10px;
// 		}
// 	}
// 	&__item{
// 		list-style: none;
// 		margin: 0 10px;
// 	}
// 	&__link{}
// 	&__sub-menu{}
// 	&__sub-item{}
// 	&__sub-link{}
// }