// Футер книзу
.wrap-site {
	min-height: 100%;
	min-width: 320px;
	position: relative;
	width: 100%;
	overflow: hidden;

	display: flex;
	flex-flow: column;
}
.main{
	position: relative;
	flex: 1 0 auto;
	padding-top: 251px;

	@include media-breakpoint-up(md) {
		padding-top: 243px;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 118px;
	}

	&--person {
		background-color: #14141C;
		.page-bg {
			z-index: 0;
		}
	}

	&--center-content {
		display: flex;
		flex-direction: column;

		.wrap {
			margin: auto;
		}
	}
}
// .Футер книзу
.wrap{
	width: 100%;
	max-width: $screen-xl;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	@include media-breakpoint-up(md) {
		padding: 0 50px;
	}
	@include media-breakpoint-up(xl) {
		padding: 0 55px;
	}
}
