extends layouts/_default.pug
block title
  title dev - index
block content
  block header
    +header
  main.main.main--center-content
    .page-bg.page-bg--not-found
      picture
        source(media="(min-width:1200px)" srcset="img/theme/404-bg.jpg, img/theme/404-bg@2x.jpg 2x")
        img(src="img/theme/404-bg-tablet.jpg" srcset="img/theme/404-bg-tablet@2x.jpg 2x" alt="")
    .wrap
      div(block="not-found")
        div(elem="code")
          img(src="img/theme/404.png" alt="")
        h1(elem="title") Извините! Страница не найдена
        p.d-none.d-md-block(elem="text") Возможно, запрашиваемая Вами страница была перенесена или удалена. Также возможно, Вы допустили небольшую опечатку при вводе адреса – такое случается даже с нами, поэтому еще раз внимательно проверьте.
        a.btn.btn--gold(href="index.html") Перейти на главную
  block footer
    +footer
