extends layouts/_default.pug
block title
	title dev - index
block content
	block header
		+header
	main.main
		.page-bg
			img(src="img/theme/index-bg.jpg" srcset="img/theme/index-bg@2x.jpg 2x" alt="" data-object-fit="cover")
			video(src="video/index.mp4" autoplay loop muted)
		.wrap
			div(block="index")
				div(elem="actions")
					a.btn.btn--gold(href="#") Продакшн видео
					a.btn.btn--hollow-gold(href="#") Музыкальный продакшн
	block footer
		+footer
