extends layouts/_default.pug
block title
  title dev - index
block content
  block header
    +header
  main.main.main--person
    .page-bg
      img(src="img/theme/person-bg.jpg" alt="" srcset="img/theme/person-bg@2x.jpg 2x" data-object-fit="cover")
    div(block="person")
      section(elem="info")
        .wrap
          div.responsive-img(elem="photo")
            img(src="img/media/photo.jpg" srcset="img/media/photo@2x.jpg 2x" alt="" data-object-fit="cover")
          div(elem="wrapper")
            h2(elem="title") Об авторе
            p(elem="text") Уже в 2003 г. Карандаш выпускает свой первый «сольник» - «Уценка 99%». Дебют оказался очень успешным и на волне вдохновения уже в 2004 г. Денис выпускает второй альбом «БезИМЯнный». Несмотря на всю концептуальность альбома, который сам Карандаш считает одной из лучших своих работ, диск не взорвал рэп-тусовку. Хотя и оказался достаточно популярным.
            p(elem="text") Неоправданные ожидания стали причиной непродолжительного творческого кризиса. Но уже в 2006 г. Карандаш возвращается с новым альбомом «Американщина». Прозападаное звучание треков оправдало расчеты исполнителя – диск получил звание вошел в число главных релизов 2006 года. К слову, именно на трек этого альбома был снят первый сольный клип Карандаша – «Переходы».
            div.js-text(elem="hide-text")
              p(elem="text") В 2008 г., когда еще не спала волна популярности «Американщины», Карандаш выпускает диск «Бедные тоже смеются». А еще два года спустя – в 2010 – свой лучший альбом «Живи быстро, умри молодым». 2012 году рэпер выпускает альбом под названием “Американщина II”, ровно через 2 месяца выходит первый клип на песню “Титаник”  вошедшей в 6-ый сольный альбом артиста. После выходят клипы на песни “ОК” и “Не Ебет”.  14 декабря 2015 года выходит 7-ой сольный альбом “Монстр”.
            button.btn.btn--hollow-white.js-show-text-btn(elem="show" type="button")
              +svg('arrow')(width="11px" height="20px")
      section(elem="multimedia")
        .wrap
          h2.text-center(elem="title") Мультимедиа
          nav(elem="navigation")
            a.js-anchor(elem="link" mod="multi" href="#audio") Аудио
            a.js-anchor(elem="link" mod="multi" href="#video") Клипы
        div#audio(block="audio")
          .wrap
            h3(elem="title") Аудио
            div.swiper-container.js-album-slider(elem="slider")
              .swiper-wrapper
                mixin album(obj)
                  div.swiper-slide(elem="album")
                    button.btn.btn--hollow-white.js-show-palyer(elem="play" mod="album" type="button" data-id=`album-${obj.id}` aria-label="Возпроизвести альбом")
                      +svg('play')(width="19px" height="24px")
                    div(elem="cover")
                      img(src=obj.img alt="")
                    span(elem="name")=obj.name
                    span(elem="year")=obj.year

                +album({
                  id: 0,
                  img: 'img/media/cover-1.jpg',
                  name: 'Lenin&карандаш - После шоу',
                  year: '2016'
                })
                +album({
                  id: 1,
                  img: 'img/media/cover-2.jpg',
                  name: 'Монстр',
                  year: '2015'
                })
                +album({
                  id: 2,
                  img: 'img/media/cover-3.jpg',
                  name: 'Американщина 2',
                  year: '2012'
                })
                +album({
                  id: 3,
                  img: 'img/media/cover-4.jpg',
                  name: 'Живи быстро, умри молодым',
                  year: '2010'
                })
                +album({
                  id: 4,
                  img: 'img/media/cover-5.jpg',
                  name: 'Бедные тоже смеются',
                  year: '2008'
                })
                +album({
                  id: 5,
                  img: 'img/media/cover-6.jpg',
                  name: 'Безымянный',
                  year: '2004'
                })
            div(elem="navigation")
              button.slider-button.slider-button--prev.js-album-prev(type="button" aria-laabel="Назад")
                +svg('arrow')(width="13px" height="24px")
              button.slider-button.slider-button--next.js-album-next(type="button" aria-label="Вперед")
                +svg('arrow')(width="13px" height="24px")
        div(elem="player")
          mixin player(obj)
            div(block="player" id=`album-${obj.id}`)
              .wrap
                div(elem="content")
                  div(elem="cover")
                    img(src="img/media/big-cover.jpg" srcset="img/media/big-cover@2x.jpg 2x" alt="")
                  div(elem="wrap")
                    b(elem="name") Американщина 2
                    span(elem="year") 2012
                    div(elem="actions")
                      a.btn.btn--gold(elem="btn" href="#") Скачать альбом
                      a.btn.btn--itunes(elem="btn" href="#")
                    div(block="share")
                      span Поделиться:
                      a(elem="link" mod="vk" href="#" title="")
                        +svg('vk')
                      a(elem="link" mod="tw" href="#" title="")
                        +svg('twitter')
                      a(elem="link" mod="fb" href="#" title="")
                        +svg('facebook')
                div(elem="audio")
                  audio.visuallyhidden(preload)
                  ol(elem="songs")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/01_Karandash-Intro.mp3") Интро
                      span(elem="duration") 01 : 35
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/01_Karandash-Intro.mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/02_Karandash-Ne_Vkluchai(scratch by DJ Mos).mp3") Не включай (scratch by DJ Mos)
                      span(elem="duration") 02 : 45
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/02_Karandash-Ne_Vkluchai(scratch by DJ Mos).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/03_Karandash-Eto_Normalno.mp3") Это нормально
                      span(elem="duration") 05 : 45
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/03_Karandash-Eto_Normalno.mp3).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/04_Karandash-Tupoy(ft. GIGA).mp3") Тупой (feat. ГИГА)
                      span(elem="duration") 06 : 43
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/04_Karandash-Tupoy(ft. GIGA).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3") Ок (feat. MO, Big Som, L'one)
                      span(elem="duration") 05 : 23
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3") Ок (feat. MO, Big Som, L'one)
                      span(elem="duration") 05 : 23
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3") Ок (feat. MO, Big Som, L'one)
                      span(elem="duration") 05 : 23
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3") Ок (feat. MO, Big Som, L'one)
                      span(elem="duration") 05 : 23
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3") Ок (feat. MO, Big Som, L'one)
                      span(elem="duration") 05 : 23
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
                    li(elem="song")
                      button.btn.btn--play.js-play-song(elem="play" type="button")
                        +svg('play')(width="15px" height="19px" class="play-svg")
                        +svg('pause')(width="13px" height="19px" class="pause-svg")
                      a(href=href data-src="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3") Ок (feat. MO, Big Som, L'one)
                      span(elem="duration") 05 : 23
                      a(elem="download" href="../audio/Karandash - Amerikanshina 2/05_Karandash-OK(ft. MO, Big Som, L'one).mp3" title="Скачать песню" download)
                        +svg("download")(width="13px" height="16px")
          +player({
            id: 0
          })
          +player({
            id: 1
          })
          +player({
            id: 2
          })
          +player({
            id: 3
          })
          +player({
            id: 4
          })
          +player({
            id: 5
          })
        div#video(block="video")
          .wrap
            h3(elem="title") Клипы
            div.swiper-container.js-video-slider(elem="slider")
              .swiper-wrapper
                mixin clip(obj)
                  div.swiper-slide(elem="clip")
                    a.js-youtube(elem="link" mod="video" href=obj.url)
                      button.btn.btn--hollow-white(elem="play" mod="video" type="button" aria-label="Возпроизвести видео")
                        +svg('play')(width="19px" height="24px")
                      div
                        img(src=obj.img alt="")
                    b(elem="name")=obj.name
                    div(block="share")
                      span Поделиться:
                      a(elem="link" mod="vk" href="#" title="")
                        +svg('vk')
                      a(elem="link" mod="tw" href="#" title="")
                        +svg('twitter')
                      a(elem="link" mod="fb" href="#" title="")
                        +svg('facebook')
                +clip({
                  url: 'https://www.youtube.com/watch?v=WuzhdmBcCL4',
                  img: 'img/media/video-1.jpg',
                  name: 'Джиган, Варчун, Крэк, Карандаш - TATTOO'
                })
                +clip({
                  url: 'https://www.youtube.com/watch?v=VtzOSQrv4eI',
                  img: 'img/media/video-2.jpg',
                  name: 'Карандаш, Big Som, L’One, MO - OK'
                })
                +clip({
                  url: 'https://www.youtube.com/watch?v=3US9x1fKqPw',
                  img: 'img/media/video-3.jpg',
                  name: 'Карандаш feat. Пицца - Отражение'
                })
            div(elem="navigation")
              button.slider-button.slider-button--prev.js-video-prev(type="button" aria-laabel="Назад")
                +svg('arrow')(width="13px" height="24px")
              button.slider-button.slider-button--next.js-video-next(type="button" aria-label="Вперед")
                +svg('arrow')(width="13px" height="24px")
  block footer
    +footer
