.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 12.0689655%;
    padding-bottom: 20px;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin: 0 auto;
        // padding-top: 24.7005988%;
        width: 450px;
    }
    @include media-breakpoint-up(xl) {
        align-items: flex-start;
        // padding-top: 11.0091743%;
        padding-left: 500px;
        width: auto;
        text-align: left;
    }

    &__code {
        width: 140px;
        height: 100px;
        img {
            width: 100%;
            height: auto;
        }
        @include media-breakpoint-up(md) {
            width: 176px;
            height: 120px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 10px;
        }
    }

    &__title {
        margin-bottom: 45px;
        font-size: 18px;
        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
            font-size: 24px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 25px;
        }
    }

    &__text {
        @include media-breakpoint-up(md) {
            margin-bottom: 170px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 80px;
        }
    }
}