/* index */
[data-tooltip] {
	@include hui_tooltip(attr(data-tooltip), 'top', grey);
}

.index {
	&__actions {
		position: absolute;
		left: 50%;
		bottom: 40px;
		width: 100%;
		max-width: 512px;
		text-align: center;
		transform: translateX(-50%);
		.btn {
			margin: 0 15px 15px;
		}
		@include media-breakpoint-up(md) {
			bottom: 125px;
		}
		@include media-breakpoint-up(xl) {
			bottom: 170px;
		}
	}
}