.person {
    padding-top: 60px;
    @include media-breakpoint-up(md) {
        padding-top: 65px;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 125px;
    }

    &__info {
        position: relative;
        margin-bottom: 80px;
        @include media-breakpoint-up(xl) {
            margin-bottom: 85px;
            .wrap {
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 60px;
        }
    }

    &__photo {
        margin-bottom: 40px;
        &::before {
            padding-bottom: 130.344828%;
        }
        @include media-breakpoint-up(md) {
            margin-bottom: 35px;
            &::before {
                padding-bottom: 46.9172932%;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
            margin-right: 75px;
            width: 368px;
            float: left;
            &::before {
                padding-bottom: 130.163043%;
            }
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 1.875rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
            font-size: 2.1875rem;
        }
    }

    &__text {
        margin-bottom: 20px;
        font-size: 0.8125rem;
        line-height: 1.5;
        @include media-breakpoint-up(md) {
            font-size: 0.875rem;
            line-height: 1.2;
        }
    }

    &__hide-text {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &__show {
        position: relative;
        left: 50%;
        padding: 6px 23px;
        min-width: 0;
        transform: translateX(-50%);
        border-color: rgba(#fff, 0.2);
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            border-color: rgba(#fff, 0.2);
        }
        &:active {
            transform: translate(-50%, 1px);
        }
        svg {
            fill: $color-gold;
            transform: rotate(90deg);
        }
        &.active {
            svg {
                transform: rotate(270deg);
            }
        }
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__multimedia {
        text-align: center;
    }

    &__navigation {
        margin-bottom: 80px;
        border: 2px solid rgba(#fff, 0.2);
        border-radius: $radius;
        @include media-breakpoint-up(md) {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 75px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                width: 1700px;
                height: 1px;
                background-color: rgba(#fff, 0.2);
                transform: translateY(-50%);
            }
            &::before {
                left: 125%;
            }
            &::after {
                right: 125%;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 70px;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 11px 35px;
        width: 50%;
        font-size: 0.8125rem;
        font-weight: 700;
        text-transform: uppercase;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: $color-gold;
            transition: all 0.3s ease-in-out;
        }
        &:hover,
        &:focus {
            color: $color-gold;
            text-decoration: none;
            &::after {
                width: 100%;
            }
        }
        @include media-breakpoint-up(md) {
            padding: 13px 35px;
            width: auto;
        }
    }
}

.audio,
.video {
    text-align: left;
    .wrap {
        position: relative;
    }
    &__title {
        text-align: center;
        font-size: 1.5rem;
        @include media-breakpoint-up(md) {
            text-align: left;
            font-size: 1.75rem;
        }
    }
    &__slider {
        .swiper-wrapper {
            display: flex;
            transition-timing-function: cubic-bezier(.6, .14, .41, .88);
        }
    }
    &__play {
        position: absolute;
        left: 50%;
        z-index: 2;
        padding: 0;
        min-width: auto;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-50%);
        transition: opacity 0.3s 0.2s ease-in-out;
        &:active {
            transform: translate(-50%, 1px)
        }
        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &--album {
            top: 83px;
            width: 58px;
            height: 58px;
            line-height: 58px;
            border-radius: 50%;
            svg {
                left: 19px;
            }
        }
        &--video {
            top: 50%;
            width: 68px;
            height: 51px;
            border-radius: 12px;
            transform: translate(-50%, -50%);
            &:active {
                transform: translate(-50%, -51%);
            }
        }
    }
    &__navigation {
        margin-top: 35px;
        text-align: center;
        @include media-breakpoint-up(md) {
            margin: 0;
            position: absolute;
            top: 5px;
            right: 50px;
        }
        @include media-breakpoint-up(xl) {
            right: 55px;
        }
    }
}

.audio {
    margin-bottom: 50px;
    &__title {
        margin-bottom: 25px;
    }
    &__slider {
        overflow: visible;
        &.swiper-container-initialized {
            margin: 0;
            max-width: 220px;
            @include media-breakpoint-up(md) {
                max-width: 440px;
            }
            @include media-breakpoint-up(xl) {
                max-width: none;
            }
        }
    }
    &__album {
        flex-shrink: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 10px 15px;
        width: 220px;
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            border-radius: $radius;
            background-color: #25252F;
            transition: transform 0.5s ease-in-out;
            transform: scaleY(0);
            transform-origin: center;
        }
        &.swiper-slide-active {
            &::before {
                transform: scaleY(1);
            }
            .audio {
                &__cover {
                    &::before {
                       transform: scaleY(1);
                    }
                }
                &__play {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        }
    }
    &__cover {
        position: relative;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: $radius;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(to top, $color-gold, transparent);
            transition: transform 0.5s ease-in-out;
            transform: scaleY(0);
            transform-origin: center bottom;
        }
    }
    &__name {
        margin-bottom: 10px;
    }
    &__year {
        font-size: 0.6875rem;
        opacity: 0.2;
    }
}

.video {
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
    background-image: url("../img/theme/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #14141C;
        opacity: 0.85;
    }

    @include media-breakpoint-up(md) {
        padding-top: 85px;
        padding-bottom: 125px;
    }

     @include media-breakpoint-up(xl) {
        padding-bottom: 210px;
     }

    &__slider {
        padding: 30px 0;
        overflow: visible;

        @include media-breakpoint-up(md) {
            padding: 75px 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 80px 0;
        }

        &.swiper-container-initialized {
            @include media-breakpoint-up(md) {
                max-width: 360px;
            }
        }
    }

    &__clip {
        text-align: center;
        &.swiper-slide-active {
            .share {
                opacity: 1;
            }
            .video {
                &__link--video {
                    &::before,
                    div::before {
                        transform: scaleY(1);
                    }
                }
                &__play {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        }
        @include media-breakpoint-up(md) {
            transition: transform 0.3s ease-in-out;

            &.swiper-slide-active {
                z-index: 1;
                transform: scale(1.4) translateY(15px);
            }
        }
        @include media-breakpoint-up(xl) {
            &.swiper-slide-active {
                transform: scale(1.85) translateY(25px);
            }
        }
    }

    &__link {
        color: currentColor;
        text-decoration: none;
        &--video {
            position: relative;
            display: block;
            padding: 5px;
            margin-bottom: 25px;
            border-radius: $radius;
            div {
                position: relative;
                padding-top: 57.1428571%;
                border-radius: $radius;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 80px;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    background: linear-gradient(to top, $color-gold, transparent);
                    transition: transform 0.5s ease-in-out;
                    transform: scaleY(0);
                    transform-origin: center bottom;
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                border-radius: $radius;
                background-color: #25252F;
                transition: transform 0.5s ease-in-out;
                transform: scaleY(0);
                transform-origin: center;
            }
            @include media-breakpoint-up(md) {
                margin-bottom: 10px;
                div {
                    padding-top: 0;
                    width: 350px;
                    height: 205px;
                }
            }
        }
    }

    &__name {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 15px;
        font-size: 1.125rem;
        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }
    }

    .share {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        @include media-breakpoint-up(md) {
            font-size: 0.65rem;
            span {
                margin-right: 20px;
            }
            &__link {
                width: 26px;
                height: 26px;
            }
        }
        @include media-breakpoint-up(xl) {
            font-size: 0.5rem;
            &__link {
                margin-right: 10px;
                width: 18px;
                height: 18px;
            }
        }
    }
}