.btn {
	@extend %link-clicker;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	// height: 40px;
	min-width: 190px;
	padding: 11px 20px;

	border: 2px solid rgba(#fff, 0);
	border-radius: $radius;
	text-align: center;
	background: $color-dimmed;

	user-select: none;
	// font-family: $font-1;
	font-size: 0.8125rem;
	color: $color-text;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;

	box-shadow: none;
	transition: background 0.1s, color 0.1s, border 0.1s;
	&:hover{
		text-decoration: none;
		color: inherit;
	}

	svg{
		display: inline-block;
		vertical-align: middle;
		transition: all 0.1s;
		fill: $color-text;
	}

	&--gold {
		background-color: $color-gold;
		border-color: $color-gold;
	}

	&--hollow-gold {
		background: transparent;
		border-color: $color-gold;
	}

	&--hollow-white {
		background: transparent;
		border-color: #fff;
	}

	&--hollow-white,
	&--hollow-gold {
		&:hover,
		&:focus {
			background-color: darken($color-gold, 5%);
			border-color: darken($color-gold, 5%);
		}

		&:active {
			background-color: $color-gold;
			border-color: $color-gold;
		}
	}

	&--itunes {
		background-image: url("../img/theme/itunes.png");
		background-repeat: no-repeat;
		background-position: center;
	}

	&--play {
		padding: 0;
		min-width: 0;
		background-color: transparent;
		.play-svg {
			display: inline;
		}
		.pause-svg {
			display: none;
		}
		&.playing {
			.play-svg {
				display: none;
			}

			.pause-svg {
				display: inline;
			}
		}
	}

	// &--small{
	// 	min-width: 0;
	// 	height: rem(36, 16);
	// 	line-height: rem(33, 16);
	// }

	// &--hollow-white,
	// &--hollow{
	// 	background: none;
	// 	&:hover{
	// 		background: darken($color-blue, 5%);
	// 		color: #fff;
	// 		border-color: rgba(#000, 0);
	// 	}
	// 	&:active{
	// 		background: $color-blue;
	// 		color: #fff;
	// 		border-color: rgba(#000, 0);
	// 	}
	// }
	// &--hollow{
	// 	border-color: #DDDDDD;
	// 	svg {
	// 		fill: $color-text;
	// 	}
	// }
	// &--hollow-white{
	// 	color: #fff;
	// 	border-color: #fff;
	// }

	// &--blue{
	// 	background: $color-blue;
	// 	color: #fff;
	// 	svg{ fill: #fff; }
	// 	&:hover{
	// 		background: darken($color-blue, 5%);
	// 		color: #fff;
	// 	}
	// 	&:active{
	// 		background: $color-blue;
	// 		color: #fff;
	// 	}
	// }

	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
	// &--hover-hollow{
	// 	&:hover{
	// 		background: none;
	// 		border-color: #DDDDDD;
	// 		color: $color-text;
	// 		svg{ fill: $color-text; }
	// 	}
	// }

	// &--hover-blue{
	// 	&:hover{
	// 		background: $color-blue;
	// 		border-color: rgba(#fff,0);
	// 		color: #fff;
	// 	}
	// 	&:active{
	// 		background: darken($color-blue, 5%);
	// 	}
	// }
}

.slider-button {
	padding: 0;
	border: none;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
	svg {
		fill: $color-gold;

	}
	&--prev {
		margin-right: 40px;
		svg {
			transform: rotate(180deg);
		}
	}
	&.swiper-button-disabled {
		svg {
			fill: #414147;
		}
	}
}