.player {
    display: none;
    padding: 60px 0;
    background-color: #000;
    @include media-breakpoint-up(md) {
        padding: 85px 0 65px;
    }
    @include media-breakpoint-up(xl) {
        padding: 90px 0;
    }

    .wrap {
        @include media-breakpoint-up(xl) {
            display: flex;
        }
    }

    &__content {
        @include media-breakpoint-up(md) {
            display: flex;
            margin-bottom: 35px;
        }
        @include media-breakpoint-up(xl) {
            flex-direction: column;
            margin-right: 55px;
        }
    }

    &__cover {
        margin: 0 auto 30px;
        width: 290px;
        height: 290px;
        overflow: hidden;
        border-radius: $radius;
        @include media-breakpoint-up(md) {
            margin: 0;
            margin-right: 55px;
            width: 325px;
            height: 325px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0;
            margin-bottom: 45px;
            width: 395px;
            height: 395px;
        }
    }

    &__name {
        display: block;
        margin-bottom: 15px;
        font-size: 1.125rem;
        text-align: center;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            text-align: left;
        }
    }

    &__year {
        display: block;
        margin-bottom: 30px;
        text-align: center;
        font-size: 0.875rem;
        opacity: 0.35;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
            text-align: left;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .btn {
            padding: 11px 8px;
            min-width: auto;
            width: 50%;
            max-width: 190px;
            &:first-child {
                margin-right: 10px;
            }
        }
        @include media-breakpoint-up(md) {
            flex-direction: column;
            margin-bottom: 40px;
            .btn {
                padding: 11px 20px;
                width: 190px;
                max-width: none;
                min-height: 41px;
                &:first-child {
                    margin: 0;
                    margin-bottom: 15px;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            flex-direction: row;
            margin-bottom: 30px;
            .btn {
                &:first-child {
                    margin: 0;
                    margin-right: 15px;
                }
            }
        }
    }

    &__audio {
        @include media-breakpoint-up(xl) {
            width: 640px;
        }
    }

    &__songs {
        list-style-type: none;
        counter-reset: myCounter;
    }

    &__song {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 15px;
        border-radius: $radius;
        font-size: 0.8125rem;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            border-radius: $radius;
            background-color: #25252F;
            box-shadow: 0 15px 25px rgba(#000, 0.5);
            transition: transform 0.3s ease-in-out;
            transform: scaleX(0);
            transform-origin: center;
        }

        a {
            &[data-src] {
                cursor: default;
            }
            &:hover,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }

        &.playing {
            &::after {
                transform: scaleX(1);
            }
            // background-color: #25252F;
            // box-shadow: 0 15px 25px rgba(#000, 0.5);
        }

        @include media-breakpoint-up(md) {
            padding: 20px 20px 20px 55px;
            font-size: 0.875rem;
            &::before {
                counter-increment: myCounter;
                content: ""counter(myCounter, decimal-leading-zero);
                position: absolute;
                top: 50%;
                left: 20px;
                font-size: 12px;
                opacity: 0.35;
                transform: translateY(-50%);
            }
        }
    }

    &__play {
        margin-right: 15px;
        width: 23px;
        @include media-breakpoint-up(md) {
            margin-right: 40px;
            svg {
                width: 17px;
                height: 22px;
            }
        }
    }

    &__duration {
        display: none;
        font-size: 0.75rem;
        opacity: 0.35;
        @include media-breakpoint-up(md) {
            display: block;
            margin-left: auto;
        }
    }

    &__download {
        margin-left: auto;
        @include media-breakpoint-up(md) {
            margin-left: 25px;
            svg {
                width: 18px;
                height: 22px;
            }
        }
    }

    .audiojs {
        display: none;
    }

    .share {
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}