.share {
    text-align: center;

    span {
        margin-right: 30px;
    }
    &__link {
        color: currentColor;
        text-decoration: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        width: 32px;
        height: 32px;
        border-radius: $radius;

        &:last-child {
            margin-right: 0;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--vk {
            background-color: #5181B8;
        }

        &--tw {
            background-color: #0A7ABF;
        }

        &--fb {
            background-color: #4267B2;
        }
    }
}