mixin footer
	footer(block="footer")
		.wrap
			dev(elem="wrapper")
				-var currentYear = (DATE.getYear() - 100 + 2000)
				div(elem="copyright") © #{currentYear} Все права защищены

				div(elem="created") Разработка сайта 
					a.magwai-link(href="//magwai.ru" target="_blank" title="Перейти на сайт разработчика") Магвай