mixin header
	header(block="header")
		.wrap
			div(elem="wrapper")
				a(elem="logo" href="index.html")
					+svg('logo')

				a(elem="link" href="mailto:karandash.karandash@gmail.com")
					+svg('mail')
					| karandash.karandash@gmail.com

				a(elem="link" href="mailto:lady.karandash@gmail.com")
					+svg('mail')
					| lady.karandash@gmail.com